.profile__info {
  display: grid;
  grid-template-columns:minmax(200px, min-content) min-content;
  align-items:baseline;
  margin: 22px auto 22px 30px;
  row-gap: 16px;
  column-gap: 0;
  width:100%;
  margin-right: 20px;
}

@media screen and (max-width: 707px) {
  .profile__info {
    margin: 0 auto 36px auto;
    row-gap: 14px;
    justify-content: center;
  }
}
