.profile {
  width: calc(100% - (200px + 200px));
  margin: 0 auto 51px auto;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1070px) {
  .profile {
    width: calc(100% - (19px + 19px));
    flex-direction: column;
    justify-content: space-between;
    margin: 39px auto 36px auto;
  }
}
