.popup__close {
  background-image:url(../../../images/pngCloseIcon.png);
  width:32px;
  height:32px;
  border:none;
  margin-top:-40px;
  margin-right:-40px;
  align-self: flex-end;
  z-index: 101;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}

.popup__close:hover {
  opacity: 0.6;
}
