.popup__form {
  margin: auto auto auto auto;
  width: 430px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  z-index: 101;
  border-radius: 10px;
}

@media screen and (max-width: 600px) {
  .popup__form {
    width: 282px;
  }
}
